/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Otomanopee One", sans-serif, inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General Styles */

* {
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Otomanopee One", sans-serif;
}
html {
  font-size: 62.5%; /* 1rem = 10px */
}
body {
  line-height: 1.5;
  font-size: 1.8rem;
}

/* Header Styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 1;
  opacity: 0.9;
  background-color: black;
}
nav h1 {
  font-size: 3rem;
  color: white;
  text-shadow: 0.2rem 0.2rem #ff0000;
}
links {
  display: flex;
  width: 30%;
}
button {
  background-color: black;
  color: white;
  padding: 2% 4%;
  border: black;
}
button:hover {
  background-color: white;
  color: black;
}
button a {
  text-decoration: none;
  color: inherit;
  font-size: 1.8rem;
}

/* Home Styles */

.home {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/fabio-ballasina-wEL2zPX3jDg-unsplash.jpg");
  background-size: cover;
}
.home h1 {
  font-size: 4rem;
  color: white;
  text-shadow: 0.2rem 0.2rem #ff0000;
}

/* About Me Styles */

.about_section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 5%;
  padding: 3% 3%;
  background-color: red;
  opacity: 0.8;
}
.about h2 {
  text-align: center;
  margin-bottom: 1%;
  font-size: 3.5rem;
  color: black;
  font-weight: bold;
}
.about p {
  font-weight: bold;
}

/* Project Styles */

.projects_section {
  padding: 3%;
}
.projects_section h2 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  color: red;
}
.project_box {
  margin: 5rem auto;
  width: 45%;
  height: 45%;
}
.project_box p {
  font-weight: bold;
}
.project_img {
  width: 100%;
  height: 100%;
}
/* .image_overlay {
  border: 1px solid red;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
} */
.project_box p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* Footer Styles */

footer {
  font-family: "Otomanopee One", sans-serif;
  padding: 2% 2%;
  background-image: url(./images/fabio-ballasina-wEL2zPX3jDg-unsplash.jpg);
}
footer h2 {
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-bottom: 2%;
}
.foot a {
  text-decoration: none;
  color: white;
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .links {
    display: flex;
    margin: 0 auto;
  }
  .link {
    padding: 0 20%;
  }
  .link1 {
    display: none;
  }
  .about-img {
    border-radius: 900rem;
    margin-top: 28%;
    padding: 5%;
  }
}

/* Phone */

@media (max-width: 500px) {
  body {
    background-color: yellow;
  }
}
